<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analytics_enabled</key>
	<false/>
	<key>performance_monitoring_enabled</key>
	<false/>
	<key>crash_reporting_enabled</key>
	<false/>
</dict>
</plist>
